.slider {
    margin: auto;
    justify-content: center; 
    width: 1000px;
    overflow: hidden;
    position: relative;
}

.slider__line {
    display: flex;
    transition: all 1s;
}

.slider-img {
    width: 1000px;
}

.prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    font-size: 30px;
}

.next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

.prev:hover, .next:hover {
    cursor: pointer;
    background-color: rgba(138, 9, 125, 0.5);
}
.a {
    text-decoration:none;
    width: 20px;
    height: 20px;
    border: 0;
}

@media(max-width: 992px) {
    .slider {
        width: 800px;
    }
    .slider-img {
        width: 800px;
    }
}

@media(max-width: 850px) {
    .slider {
        width: 600px;
    }
    .slider-img {
        width: 600px;
    }
}


@media(max-width: 768px) {
    .slider {
        width: 500px;
    }
    .slider-img {
        width: 500px;
    }
    .scrolls {
        font-size: 20px;
    }
}

@media(max-width: 600px) {
    .slider {
        width: 450px;
    }
    .slider-img {
        width: 450px;
    }
}

@media(max-width: 500px) {
    .slider {
        width: 400px;
    }
    .slider-img {
        width: 400px;
    }
}

@media(max-width: 440px) {
    .slider {
        width: 350px;
    }
    .slider-img {
        width: 350px;
    }
}

@media(max-width: 380px) {
    .slider {
        width: 250px;
    }
    .slider-img {
        width: 250px;
    }
    .scrolls {
        font-size: 15px;
    }
}


@media(max-width: 300px) {
    .slider {
        width: 200px;
    }
    .slider-img {
        width: 200px;
    }
    .scrolls {
        font-size: 10px;
    }
    .a {
        width: 10px;
        height: 10px;
        padding: 0;
        
    }
}
