.slider {
    margin: auto;
    justify-content: center; 
    width: 1000px;
    overflow: hidden;
    position: relative;
}

.slider__line {
    display: flex;
    transition: all 1s;
}

.slider-img {
    width: 1000px;
}

.prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    font-size: 30px;
}

.next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

.prev:hover, .next:hover {
    cursor: pointer;
    background-color: rgba(138, 9, 125, 0.5);
}
.a {
    text-decoration:none;
}
