body {
    margin: 0;
}
.slider {
    user-select: none;
    margin: auto;
    justify-content: center; 
    align-items: center;
    width: 900px;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-color: blueviolet;
}

.slider-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .9s ease;
    background-color: blueviolet;
}

.slider-img.active {
    opacity: 1;
}

.slider img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slider .prev {
    left: 10px;
    cursor: pointer;
    user-select: none;
}
.slider .next {
    right: 10px;
    cursor: pointer;
    user-select: none;
}

.controlls {
    opacity: 1;
    height: 40px;
}

.bagColor {
    margin: auto;
    justify-content: center; 
    background-color: black;
    width: 1200px;
    height:750px; 
}

.a {
    text-decoration:none;
}
